exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(MAPPA, .registration = TRUE)
importFrom(magrittr,"%>%")
importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "points")
importFrom("methods", "new")
importFrom("stats", "predict", "runif", "sd")
